body {
  padding: 10px 50px;
  background-color: teal;
  color: white;
}
h1{
  font-size: 40px;
}
.formdesign {
  font-size: 25px;
}
.formdesign input {
  width: 30%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid black;
  margin: 14px;
  border-radius: 5px;
}
.formerror {
  color: red;
  font-weight: bold;
}
.btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 22px 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: green;
  transition: 0.4s ease-in-out;
}
